<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KRConfetti.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BF42DB661C63B4E3003D42CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF42DB7F1C63B4E3003D42CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF42DB8A1C63B4E3003D42CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
